$color1: black;
$background: #f3f3f3;

@mixin fontNormal() {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  font-size: 17px;
}

@mixin fontHeader() {
  font-family: Consolas, monaco, monospace;
  font-size: 20px;
  font-weight: bold;
}

@mixin fontSubheader() {
  font-family: Consolas, monaco, monospace;
  font-size: 17px;
  font-weight: bold;
}

body {
  color: $color1;
  background-color: $background;
  @include fontNormal();

  #divOneHundredPercent {
    width: 100%;

    // only one!
    #divContent {
      width: 90%;
      margin: 0 auto;
    }

    // only one!
    #divHeader {
      width: 90%;
      margin: 0 auto;
      @include fontHeader();
    }

    .divSubHeader {
      @include fontSubheader();
      padding-top: 20px;
    }

    .divNormalText {
      padding-top: 15px;
    }

  }

  a {
    color: #1e90ff;
    text-decoration: none;
  }

  a:hover {
    color: #4169e1;
    text-decoration: underline
  }
}

