extends layout

block style
    link(href='stylesheets/index.css', rel='stylesheet')

block content
    #actualBookContent
        .divSubHeader
            | Table of contents
            ul
                li
                    a(href='#introduction')
                        | Introduction
                li
                    a(href='#preamble')
                        | Preamble
                li
                    a(href='#chap1')
                        | Chapter 1

        .divSubHeader
            a(name='introduction')
            | Introduction

        .divNormalText
            | I feel like the best thing you can do in starting something is to precisely define what it is and what your
            | goals are in doing it (that probably seems obvious but it hasn’t always been obvious to me so I just thought
            | I’d share that wisdom totally for free).  In that spirit:  If you were to make an umbrella out of some happily
            | flexible material you could maybe Squeeze a handful of somewhat random things under it to describe my goals for
            | this book:

        .divNormalText
            ul
                li
                    | To teach people how to code for the web via a living breathing example of a (large and necessarily complex)
                    | multi-user system
                br
                li
                    | To write a platform for developing interactive fiction that I’ve wanted to write since I was about
                    | thirteen and somehow haven’t ever fully extinguished.
                br
                li
                    | To have a platform on which to write interactive fiction because I actually still like the possibilities of
                    | the genre and don’t think they’ve been properly explored yet
                br
                li
                    | Someday give my (at the moment) Super Young sons some glimpse into the inner workings of their
                    | dad’s brain and what he spent all his stupid time doing when he wasn’t taping googley eyes to toilet paper
                    | tubes like they wanted.  And I think that one of the best way to get to know someone is through their writing…
                    | even if it’s boring writing about the “programming” stuff I did way back in 2014.

        .divNormalText
            | I don’t usually try to squeeze that many things under one umbrella - but there it is.

        .divNormalText
            | All the goals seem somewhat inclusive of one another…  though I am somewhat daunted by the size of the project...
            | No worries - we’ll approach the beast one step at a time and we’ll try to keep it fun.

        .divNormalText
            | You may learn everything you want / need to know about web programming by the time we write the user authentication
            | system we’re going to write - or you might end up reading the book from cover to cover, falling in love with
            | interactive fiction and forking the codebase - making your own variant of the system that takes place at the
            | bottom of the sea and “fixing” the aspects of my universe that you completely abhor.  Up to you.

        .divNormalText
            | The programming stack:  html / javascript / jquery / sass / css / jade / mongo.  This may or may not mean anything
            | to you - but I think it’s good to state it.

        .divNormalText
            | What this book is not: (I always like it when authors tell me this - so I’ll tell you):  A syntactic guide for
            | how to write html / javascript / sass / css / jade or mongo db queries.  My goal is to move beyond semantics
            | and try to synthesize a living breathing example of what these tools can do together.  Obviously, I plan on
            | introducing you to these components and how they interact - and I will discuss a lot of code as I write it - but
            | when it comes down to the nitty gritty syntax I will expect you to turn to a reference like stackoverflow.

        .divNormalText
            | (add some links to references)

        .divNormalText
            | At this point you might be asking:  how am I going to learn how to program if this bozo isn’t even going to
            | explain how to do a loop in javascript?  I read a lot of really good programming books before I figured out how to
            | program.  They told me how to write a loop in all the 17 ways I could do it in whatever language the book was about.
            | They explained how to define an array in as few lines as the language allowed.  Great stuff.  Rivetting.  I kept
            | reading these kinds of books until I was blue but it wasn’t until I read some book by a guy who thought he was
            | funny writing about writing a Highly specific software system (to solve a problem that is completely meaningless now,
            | by the way) in Java.  He explained his thinking and he explained fundamental concepts and suddenly I
            | thought to myself “Ohhh.  Damn it.  Now I get it.”

        .divNormalText
            | That’s what I’m going for and I keep wanting to call this book just plain old: “web system programming”
            | or something like that - because my goal here is that you walk away from reading this thing feeling like
            | you could write a web application in any language / environment you end up enjoying the most (or will at least
            | get you a good job somewhere being able to do whatever it is they want you to do in whatever silly (sometimes
            | annoyingly proprietary) environment they want you to do it in.  (That’s a joke.  Mostly)).

        .divNormalText
            | Most importantly - I can’t think of many people working in any environment 15 years ago that doesn’t seem
            | antiquated now (Hush it emacs people.  Just.  Hush.  It.  (That’s also a joke).  Don’t spam me with hate
            | mail emacs people - or any people for that matter) so you might as well accept now that if you want to
            | getting into this thing you’re going to Probably going to end up radically changing Something about your
            | “Most Favorite environment in the whole world” about every… ?  few years?  And Indeed - even if you end up
            | Loving node.js by the time you reach the end of this thing you’re probably going to end up feeling like it’s a
            | Completely primitive dinosaur in 15 years time.  Or at least I hope I do.

        .divNormalText
            | How I expect this book / course / experience to unravel if you see it through to the bitter end:

        .divNormalText
            | As I said, there are very few systems that remain static and since I am writing this book with the hope of
            | ending up with a “system” at the end - this book will never capture what the system will have hopefully
            | evolved to be by the time you are reading the book (even if you are reading it next week!).

        .divNormalText
            | To deal with this problem we will be using two things that will also serve you well in the professional coding world:

        .divNormalText
            | The magic of source control (Git in this instance) to allow you to “move” through time with the text and as
            | the code evolves you will be able to check it out and follow along (as well as wildly experiment with the code
            | without worrying about breaking it).

        .divNormalText
            | Blogging about the evolution of the system.  Phase one of this project (for me) is to write a book about
            | getting out version 1 of a system.  I will be explaining core concepts and demonstrating them.  After I’m done
            | with version 1 - I actually expect that many readers will get what they want out of this experience and stop
            | there and so I expect this book to end at the end of version 1:  for the other 3 of you that want to follow the
            | trials of evolving a system - I’ll start a blog.

        .divSubHeader
            a(name='preamble')
            | Preamble to Chapter 1

        .divNormalText
            | I debated about where to put this chapter.  I usually don’t like it when coding books take a
            | long time to show me any actual code so I thought I might start you doing the login system
            | right off the bat and get to this stuff the chapter after all that - but I am also starting
            | to think that a good way to write a book for a beginner should be to start it by giving the
            | reader a challenging assignment that they can carry out on their own in parallel with my own process.

        .divNormalText
            | The great thing about giving you this assignment in paragraph 3 of chapter 1 is that if the
            | assignment makes you think - “no I don’t want to do that assignment, it doesn’t sound fun to
            | me at all!” than programming is not the profession for you (or at least not in the way I think
            | about programming).  Question answered!  Bother yourself no more!

        .divNormalText
            | Ok here is the assignment:  think of any simple silly computer application you can think of
            | that you might actually enjoy and/or need to use and make it at the same time I make my application.
            | And no it doesn’t matter if it’s been done in some manner already or not…  Really think about this
            | before you start.  Make it funny.  Make it 100% for your own amusement.  Make a music synthesizer that
            | interprets the tide on cumberland island.  Make it calculate the most volatile, fastest growing
            | stocks at any moment.  Once i developed a little app for myself that tracked “who got the penny”
            | when I split the check with a friend of mine over time.

        .divNormalText
            | Okay - think about this thing until you can describe it clearly to your closest compadre.  If you
            | can’t describe it clearly - you’re not ready.  If you automatically think “it’s too hard to think
            | of something” I will say once (and only once) more that you might be end up being fine at coding -
            | but you’ll probably never love it.  It’s a ridiculous amount of work.

        .divNormalText
            | Here is the dry version of my compadre“statement”:  Interactive fiction is ultimately “find your own
            | adventure” on a computer  (with a little more freedom than in the book variety) - it’s reading a book
            | and playing a game.  I will be writing a system for creating (and playing) an interactive fiction style
            | “universe” (“universes” actually, but I’ll explain that a little bit later in the book).  Infocom was a
            | company that told great stories once upon a time and as a kid - they Really exploded my imagination in a
            | way that a graphical game never could and I think it would be fun to give that to a new generation of
            | kids - just this time with some more adventure and dice rolling.  Also - my target audience for this
            | game are my sons.  At the time of writing this - Owen is 5 and Graham is 7 months.  So they’ll be my
            | demographic for the next decade or more.  Anyway - knowing your audience is obviously important.
            | In this case - my audience is gonna want something with the ability to show pictures, a very friendly
            | ui - and reading the text out loud will need to be an option - so even though I’ll be making a web
            | app my target device will be a tablet and the game is going to feel much more like an app.

        .divNormalText
            | So now it’s your turn.  Write the thing down and email it to me.
            | I am so serious Grover!  Or I guess I’m Grover here.  Do not read any further in this book until you
            | know what you want to do…  If you want to send it to me - feel free.  I’ll try and give you my best opinion:
            | doug.a.squires@gmail.com

        .divSubHeader
            a(name='chap1')
            | Chapter 1

        .divNormalText
            | Okay here we go!

    | The first thing you need to do is organize your thoughts about version 1 of this thing.
    | Version 1 should be the smallest usable thing that your system will ever do.  If your
    | system should be useful, version 1 should be useful.  If it’s supposed to be fun - it better
    | already hint at some actual fun.  But make it small.  As small as it can be and still
    | accomplish this.  If it’s supposed to find submarines it better find submarines or at least find something
    | underwater.  In most cases I have rather grand visions about what a system will eventually become - and
    | in most cases version 1 is not that version.

    | So when when you’re done sizing this thing up in your mind - write down all the specific,
    | tactical elements you need to conquer in achieving it - just like I’m about to write mine down here.
    | I’ll refer to this document we’re about to make as my TODO.  As I look down it, I have to say Most of the
    | elements of this list will probably constitute a “chapter” in the book…  Depending on your interests there
    | will probably be chapters along the road of conquering version 1 that you will want to skip - I would
    | encourage you to do so.


    | (and you can use crayons on a paper sack to write this down.  I personally like being able to
    | edit/massage/clarify the list as I go along.  I will send out links to the evolution of this list as
    | we progress - maybe once per chapter)


    | And oh yeah - let’s just define some terms/concepts in our TODO - they’re not really TODO - but I
    | like it if I have to look at them all the time.  This should be more explicit than the statement
    | we did in the pre-amble.


[START TODO]

Terms/Concepts:
Universe:  In my mind a universe is a place where a person lives - the blade runner city.
The bottom of the sea.  The city zoo.

Location:  A place in the universe
Non-Player Character (NPC):  Anyone the player interacts with in the different stories -
should react to players based on players past behavior

Story:  An independent set of events that happens in the universe - i think my version of this
will mostly be adventure - something my kid might want to read.  I personally think stories
should have a conclusion - though I’m not going to restrict anyone to that.

Playing any story in the universe will change the universe and the player - in other words it
is generally expected that the geography and characters of any story will remain available to
the player even after it’s “story” is told.

One story can (though does not have to) be the prerequisite of another story and (optionally) that story’s conclusion.

The player should be able to rewind stories and “remove” them from their experience.

Tactical Stuff:
Set up source control
Set up the web stack
Make the data models for
Rudimentary login system
Characters
Geography
NPCs
As a creator in the universe - you should be able to manage the geography and people of the universe via “walking around”
Auto-Generate map based on geography
As a player you should be able to walk or use the map to move around the universe
As the creator, tell a story
As the player, experience the story
Release version 1

[END TODO]

Ha - not exactly trivial from a writing, learning or coding perspective.  But it should give you a pretty thorough introduction to basic web system programming.

block scripts
    script(src='javascripts/index.js')


