doctype html
html(lang="en")

    head
        title How to write a web application with node.js
        block style
            link(href='/stylesheets/index.css', rel='stylesheet')
    body
        #divOneHundredPercent
            #divHeader
                | How to write a web application
            #divContent
                block content

    script(src='http://code.jquery.com/jquery-2.1.0.min.js')
    block scripts
